.team .member{
    position: relative;
}
.team .member .pic {
    overflow: hidden;
    margin-bottom: 50px;
}


.team .member .memberInfo{
    background-color: #ffffff;
   color: #444444;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
   position: absolute;
   bottom: -50px;
   left: 20px;
   right: 20px;
   padding: 20px 15px;
   overflow: hidden;
   transition: 0.5s;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
}

.team .member h4:before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #444444;
    bottom: 0;
    left: 0;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.team .member .social{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.team .member .social a {
    color:#444444;
}

.team .member .social svg {
    font-size: 16px;
    margin: 0 2px;
    transition: color 0.3s;
    opacity: 0.5;
}

.team .member .social svg:hover {
    color:#10bc69;
}