.aboutMainContent h1 {
    font-size: 30px;
    color:#5f687b;
    font-weight: 700;
    margin-bottom: 15px;
}

.aboutMainContent p {
    font-size: 15px;
}

.italicFont {
    font-style: italic;
}

.aboutMainContent ul {
    padding-left: 0;
}

.aboutMainContent ul li {
    list-style-type: none;
    font-size: 15px;
    display: grid;
    grid-template-columns:6% 94%;
    margin-bottom: 10px;
}

.aboutMainContent ul li svg {
    color:#10bc69;
    font-size: 22px;
}

.videoPlaymain {
    position: relative;
}

.videoPlaymain button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoPlaymain button {
    border:none;
    border-radius: 50%;
}

.videoPlaymain svg {
    color:#10bc69;
    font-size: 50px;
}

.stats {
    padding: 30px;
    text-align: center;
}

.stats span {
    font-size: 48px;
    display: block;
    color: #10bc69;
    font-weight: 700;
}

.stats p {
    color: hsla(0, 0%, 27%, 0.365);
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}