.testimonialCard {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonialCard p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: hsla(0, 0%, 27%, 0.05);
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonialCard img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #f9f9f9;
}

.testimonialCard h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
}

.testimonialCard h4 {
  font-size: 14px;
  color: #444444;
  margin: 0 0 0 45px;
}

.testimonialCard .slick-dots li button:before {
  font-size: 14px !important;
}

.testimonialCard .slick-dots li.slick-active button:before {
  background-color: #10bc69 !important;
}
