.dividerMain{
    text-align: center;
    position: relative;

}
.dividerMain h1 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
    color:#5f687b;
}

.dividerMain span {
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 1;
    color:#5f687b;
    opacity: 0.1;
}

.dividerMain p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    color:#444444;
}